@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;

}

	.fullscreen-bg {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		z-index: -1;
	}

	.fullscreen-bg__video {
		position: absolute;
    object-fit: fill;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

.mainscreen {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #DFDBE5; */
}

/*We divided the main part in two parts one is top red part
and other is bottom form part*/

/*Styling top part*/



.toppart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 7rem 7rem;
}

.herotext {
  background: #5f1782;
  opacity: 0.6;
  box-shadow: 4px 3px 20px #3535358c;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 1rem;
  height: 300px;
}

.wrapper {
  display: inline-flex;
}
.wrapper .static-text {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}
.wrapper .dynamic-text {
  margin-bottom: 5px;
}
.dynamic-text li {
  list-style: none;
  font-size: 40px;
  font-weight: 500;
  color: #eaeaea;
  overflow: hidden;
}
.dynamic-text li span {
  position: relative;
}
.dynamic-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;

  background: #5f1782;
  border-left: 2px solid #eaeaea;
  animation: typing 2.0s steps(10) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

.toppart .logo {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 1rem;
}

.toppart h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 auto 2rem;
}

.toppart p {
  color: white;
  font-size: 1.3rem;
  margin: 25px;
  font-weight: 400;
  line-height: 1.5rem;
}

/*Top part styling completed*/

/*Styling Form box part*/

.bottompart {
  width: 60rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
margin-top: 1rem;
  background-color: #fff;
  opacity: 0.6;
  position: relative;
  top: -7rem;
  border-radius: 1.5rem;
  box-shadow: 4px 3px 20px #3535358c;
  display: flex;
  flex-direction: row;
}

/*We divided the bottom form part into two parts
one is image part
and another is form part*/

/*Styling image part froom here*/

.imgpart {
  background: #5f1782;
  width: 25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  padding: 190px 30px;
}

.heroimg {
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
}

/*Form image part style done */

/*Styling form part starts here*/

.formpart {
  width: 35rem;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 2rem 2rem 4rem;
}

h2 {
  color: #5f1782;
  font-size: 1.9rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

label {
  font-size: 1.2rem;
  color: grey;
  font-weight: 400;
  display: block;
}

.inputbox {
  width: 26rem;
  padding: 0.5rem;
  border: 2px solid #b9b6b6;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  font-family: "Roboto", sans-serif;
  color: #615a5a;
  font-size: 1.1rem;
  font-weight: 500;
}
}
.options {
  width: 25rem;
  padding: 1rem;
  border: 2px solid #b9b6b6;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.eachoption {
  display: inline-block;
  width: 49%;
}

.eachoption span {
  vertical-align: top;
  color: #615a5a;
  font-size: 1.1rem;
  font-weight: 500;
}

.eachoption label {
  display: inline-block;
}

input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
}

/*Styling checkbox agreement line*/

input.agree {
  display: inline;
  background-color:#5f1782;
  width: 0.8rem;
  height: 0.8rem;
}

label.agree {
  font-size: 0.9rem;
  display: inline;
}

/*Styling the privacy policy and terms and condition line*/

.privacy_policy {
  font-size: 0.9rem;
  color: #a29b9b;
  font-weight: 400;
  max-width: 28rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.privacy_policy span {
  color: #5f1782;
  font-weight: 500;
  cursor: pointer;
}

/* Styling submit btn */

.submitbtn {
  width: 13rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  color: white;
  background: #5f1782;
  border: 0;
  outline: 0;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.4s;
}

/* Styling submit button hover state */

.submitbtn:hover {
  transform: scale(1.02) translate(-2px);
  box-shadow: 3px 3px 6px #38373785;
}

@media only screen and (max-width: 1000px) {
  .toppart {
    padding: 3rem 2rem 10rem;
  }
  .bottompart {
    flex-direction: column;
    width: auto;
  }
  .imgpart {
    width: 100%;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0;
  }
  .heroimg {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
  }
  .formpart {
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
  .inputbox {
    width: 16rem;
  }
  .options {
    width: 16rem;
  }
  .eachoption {
    display: block;
    width: 100%;
  }
  .links {
    display: none;
  }
}

#footer {
  padding: 3% 6%;
  text-align: center;
  background-color: #fff;
  font-size: 14px;
}

#footer a i{
  color: #5f1782;
}
#footer a {
  margin-left: 2.5px;
  margin-right: 2.5px;
}

#footer p {
  color: #615a5a;
}
.wrapper .dynamic-text {
    margin-bottom: 5px;
    margin-left: -20px;
}


@-webkit-keyframes short-press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes short-press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
html,
body {
  width: 100%;
  height: 100%;
}


.hide {
  display: none;
}

.submit-button {
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 1px;
  height: 38px;
  width: 120px;
  line-height: 38px;
  overflow: hidden;
  background: #5f1782;
  border-radius: 3px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.submit-button:hover, .submit-button:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.submit-button.animated {
  -webkit-animation: 0.75s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
          animation: 0.75s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.submit-button > span {
  display: block;
  color: white;
  text-align: center;
}
.submit-button > span.pre-state-msg {
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0.75s;
}
.submit-button.state-1 .pre-state-msg {
  margin-top: -38px;
}
.submit-button.state-2 .pre-state-msg {
  margin-top: -76px;
}
